form > p > select { max-width: 64px; }
form > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button:hover {
  background: #d0d0d0;
  background-image: -webkit-linear-gradient(top, #d0d0d0, #e0e0e0);
  background-image: -moz-linear-gradient(top, #d0d0d0, #e0e0e0);
  background-image: -ms-linear-gradient(top, #d0d0d0, #e0e0e0);
  background-image: -o-linear-gradient(top, #d0d0d0, #e0e0e0);
  background-image: linear-gradient(to bottom, #d0d0d0, #e0e0e0);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: 0;
  color: #3e6fae;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button {
  color: #ddd;
  background: #d0d0d0;
  background-image: -webkit-linear-gradient(top, #114281, #3e6fae);
  background-image: -moz-linear-gradient(top, #114281, #3e6fae);
  background-image: -ms-linear-gradient(top, #114281, #3e6fae);
  background-image: -o-linear-gradient(top, #114281, #3e6fae);
  background-image: linear-gradient(to bottom, #114281, #3e6fae);
  text-decoration: none;
}
